{% extends 'app/layout.html' %}
{% block content %}
{% load static %}

{% for chore in chores %} 

<div class="container text-center">
    
    <p> 
       <h1>Chore name: {{chore.name}} </h1>
       
       <p style="color: blue;">Description: {{chore.description}}</p>
       
       
        <p>Author: {{ chore.author }}</p>
        <p>Assigned to: 
            {% for username in chore.userchore.all %}
              <a href="{% url 'user' user.id %}"> {{username.name}}</a>
            {% endfor %}
            </p>
        <p><a href="{% url 'home' %}">Go back to home page</a></p>
    </p>
    <br>
    <hr class="solid">
    <br>
</div>

{% endfor %} 

{% endblock %}