{% extends 'app/layout.html' %}
{% load static %}

{% block tittle %}
<p>&nbsp;</p>
<h3><p class="text-center"> <strong>This is chores list by user</strong></p></h3>
{% endblock tittle %}


{% block content %}
{% for chore in chores %} 

<hr class="solid"> 
<br>

<div class="container text-center">
    
    <p> 
        
       <h1>Chore name: 
        <a href="{% url 'chore' chore.id %}">{{chore.name}}</a> </h1>
       
       <p>&nbsp;</p>
       <p><img style="width: 25%"; src="{{chore.imagen.url}}"></p>
       <div style="text-align: center; font-size: 0.8em;">
        <p><h2>
        <span class="section-heading-upper">Description: </h2>{{chore.content | safe}}</span></p>
        </div> 
        <p>Author: {{ chore.author }}</p>
        <p>Assigned to: 
            {% for username in chore.userchore.all %}
              <a href="{% url 'user' user.id %}"> {{username.name}}</a>
            {% endfor %}
            </p>
            <P style="text-align: center"><strong><span style="font-size: 18px"></span>This should start with this chore at: &nbsp;&nbsp;</span></strong>{{ chore.start_task }}</P>
        <p><a href="{% url 'home1' %}">Go back to home page</a></p>
    </p>
</div>

{% endfor %}

{% block paginator %}
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
            {% if chores.has_previous %} 
                <div class="clearfix">
                    <a href="?page={{ chores.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.rearch}}{% endif %}"  class="btn btn-primary float-left">Previous</a>
                </div>
            {% endif %}
          </div>
        </div>

      
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
            {% if chores.has_next %} 
                <div class="clearfix">
                    <a href="?page={{ chores.next_page_number }}{% if request.GET.search %}&q={{ request.GET.rearch}}{% endif %}" class="btn btn-primary float-right">Next</a>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
    
{% endblock paginator %}

{% endblock content %}