{% extends 'app/layout.html' %}
{% block content %}
{% load static %}
<p class="text-center"> This is Louis chores list</p>

{% for chore in chores %} 

<!-- Heading -->
<!--<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{louis.imagen.url}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">{{louis.name}}</span>
            <span class="section-heading-lower">{{louis.description}}</span>
          </h2>
         
        </div>
      </div>
    </div>
  </section>-->

<div class="container text-center">
    
    <p> 
        
       <h1>Chore name: 
        <a href="{% url 'chore' chore.id %}">{{chore.name}}</a> </h1>
       
       <p style="color: blue;">Description: {{chore.description}}</p>
       <p><img style="width: 25%"; src="{{chore.imagen.url}}"></p>
       
        <p>Author: {{ chore.author }}</p>
        <p>Assigned to: 
            {% for username in chore.userchore.all %}
              <a href="{% url 'user' user.id %}"> {{username.name}}</a>
            {% endfor %}
            </p>
        <p><a href="{% url 'home' %}">Go back to home page</a></p>
    </p>
</div>
{% endfor %} 
{% endblock %}