{% extends 'app/layout.html' %}
{% load static %}

{% block tittle %}
<p>&nbsp;</p>
<h3><p class="text-center"> <strong>This is chores list by user</strong></p></h3>
{% endblock tittle %}


{% block content %}
{% for chore in chores %} 

<hr class="solid"> 
<br>

<div class="container text-center">
    
    <p> 
        
       <h1>Chore name: 
        <a href="{% url 'chore' chore.id %}">{{chore.name}}</a> </h1>
       
       <p>&nbsp;</p>
       <p><img style="width: 25%"; src="{{chore.imagen.url}}"></p>
       <div style="text-align: center; font-size: 0.8em;">
        <p><h2>
        <span class="section-heading-upper">Description: </h2>{{chore.content | safe}}</span></p>
        </div> 
        <p>Author: {{ chore.author }}</p>
        <p>Assigned to: 
            {% for username in chore.userchore.all %}
              <a href="{% url 'user' user.id %}"> {{username.name}}</a>
            {% endfor %}
            </p>
        <p><a href="{% url 'home1' %}">Go back to home page</a></p>
    </p>
</div>

{% endfor %}

{% endblock content %}